body {
  font-family: Open-Sans, sans-serif;
  background-color: #202020;
}

td, th {
  padding: 8px;
  border: 1px solid black;
}

td {
  text-align: center;
  vertical-align: middle;
  background-color: #6c6c6c;
}

td._40 {background-color: #0e86d4;}
td._35 {background-color: #729fd5;}
td._30 {background-color: #a7b9d5;}
td._25 {background-color: #d4d4d4;}
td._20 {background-color: #dca6a6;}
td._15 {background-color: #dc767a;}
td._10 {background-color: #de425b;}
td._40:hover, td._35:hover, td._30:hover, td._25:hover, td._20:hover, td._15:hover, td._10:hover {
    color: black;
    background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4984b8;
  color: white;
}

select {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid black;
  text-align: left;
  background-color: #4984b8;
  color: white;
}

select:hover {
  color: black;
  background-color: #ddd;
}

h1, h2, p {
  color: white;
}

input {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid black;
  text-align: left;
  background-color: #4984b8;
  color: white;
}

input:hover {
  color: black;
  background-color: #ddd;
}