{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'matrix/style.css' %}">

<!doctype html>

<h1>Hinzufügen</h1>

<form>
    <select name="drinker">
        {% for drinker in drinkers %}
        <option value="{{ drinker.id }}">{{ drinker }}</option>
        {% endfor %}
    </select>
    <select name="ingredient">
        {% for ingredient in ingredients %}
        <option value="{{ ingredient.id }}">{{ ingredient }}</option>
        {% endfor %}
    </select>
    <select name="rating">
        {% for rating in ratings %}
        <option value="{{ rating.id }}">{{ rating }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Speichern">
</form>

<h1>Übersicht</h1>

<table>
    <tr>
        <th>Datum</th>
        <th>Trinker</th>
        <th>Gin</th>
        <th>Tonic</th>
        <th>Ingredient</th>
        <th>Bewertung</th>
    </tr>
    {% for evaluation in evaluations %}
    <tr>
        <td>{{ evaluation.created }}</td>
        <td>{{ evaluation.drinker }}</td>
        <td>{{ evaluation.gin }}</td>
        <td>{{ evaluation.tonic }}</td>
        <td>{{ evaluation.ingredient }}</td>
        <td>{{ evaluation.rating }}</td>
    </tr>
    {% endfor %}
</table>