{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'matrix/style.css' %}">

<!doctype html>

<h1>{{ gin }} - {{ tonic }}</h1>

<h2>Hinzufügen</h2>

<form action="{% url 'matrix:evaluate' gin.id tonic.id %}" method="post">
    {% csrf_token %}
    <select name="drinker">
        <option></option>
        {% for drinker in drinkers %}
        <option value="{{ drinker.id }}">{{ drinker }}</option>
        {% endfor %}
    </select>
    <select name="ingredient">
        <option></option>
        {% for ingredient in ingredients %}
        {% if selected_ingredient == ingredient %}
        <option value="{{ ingredient.id }}" selected>
            {% else %}
        <option value="{{ ingredient.id }}">{% endif %}
            {{ ingredient }}
        </option>
        {% endfor %}
    </select>
    <select name="rating">
        <option></option>
        <option value="4">4: Geil/Sehr gut</option>
        <option value="3">3: Gern/In Ordnung</option>
        <option value="2">2: Mittelmäßig/Wenn's sein muss</option>
        <option value="1">1: Nee</option>
    </select>
    <input type="submit" value="Speichern">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</form>

<h2>Übersicht</h2>

<table>
    <tr>
        <th>Datum</th>
        <th>Trinker</th>
        <th>Ingredient</th>
        <th>Bewertung</th>
    </tr>
    {% for evaluation in evaluations %}
    <tr>
        <td>{{ evaluation.created }}</td>
        <td>{{ evaluation.drinker }}</td>
        <td>{{ evaluation.ingredient }}</td>
        <td>{{ evaluation.rating }}</td>
    </tr>
    {% endfor %}
</table>