{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'matrix/style.css' %}">

<!doctype html>

<h1>Die Gin-Tonic-Matrix</h1>

<form action="{% url 'matrix:index' %}" method="post">
    {% csrf_token %}
    <select name="drinker" onchange="this.form.submit()">
        <option value=none>Alle Trinker</option>
        {% for drinker in drinkers %}
        {% if selected_drinker == drinker %}
        <option value="{{ drinker.id }}" selected>
            {% else %}
        <option value="{{ drinker.id }}">{% endif %}
            {{ drinker }}
        </option>
        {% endfor %}
    </select>
    <select name="ingredient" onchange="this.form.submit()">
        <option value=none>Alle Ingredients</option>
        {% for ingredient in ingredients %}
        {% if selected_ingredient == ingredient %}
        <option value="{{ ingredient.id }}" selected>
            {% else %}
        <option value="{{ ingredient.id }}">{% endif %}
            {{ ingredient }}
        </option>
        {% endfor %}
    </select>
</form>

<table cellspacing="0" cellpadding="0">
    <tr>
        <td></td>
        <td></td>
        {% for gin_rating in gin_ratings %}
        {% if gin_rating == 0 %}
        <td>-</td>
        {% else %}
        <td class="
        {% if gin_rating >= 3.75 %}_40{% endif %}
        {% if gin_rating < 3.75 and gin_rating >= 3.25 %}_35{% endif %}
        {% if gin_rating < 3.25 and gin_rating >= 2.75 %}_30{% endif %}
        {% if gin_rating < 2.75 and gin_rating >= 2.25 %}_25{% endif %}
        {% if gin_rating < 2.25 and gin_rating >= 1.75 %}_20{% endif %}
        {% if gin_rating < 1.75 and gin_rating >= 1.25 %}_15{% endif %}
        {% if gin_rating < 1.25 %}_10{% endif %}">
            {{ gin_rating|floatformat:1 }}
        </td>
        {% endif %}
        {% endfor %}
    </tr>
    <tr>
        <td></td>
        <th></th>
        {% for item in gins %}
        <th>{{ item }}</th>
        {% endfor %}
    </tr>
    {% for tonic_rating, tonic, evaluation in evaluation_rows %}
    <tr>
        {% if tonic_rating == 0 %}
        <td>-</td>
        {% else %}
        <td class="
        {% if tonic_rating >= 3.75 %}_40{% endif %}
        {% if tonic_rating < 3.75 and tonic_rating >= 3.25 %}_35{% endif %}
        {% if tonic_rating < 3.25 and tonic_rating >= 2.75 %}_30{% endif %}
        {% if tonic_rating < 2.75 and tonic_rating >= 2.25 %}_25{% endif %}
        {% if tonic_rating < 2.25 and tonic_rating >= 1.75 %}_20{% endif %}
        {% if tonic_rating < 1.75 and tonic_rating >= 1.25 %}_15{% endif %}
        {% if tonic_rating < 1.25 %}_10{% endif %}">
            {{ tonic_rating|floatformat:1 }}
        </td>
        {% endif %}
        <th>{{ tonic }}</th>
        {% for gin, item in evaluation %}
        {% if item is None %}
        <td><a href="{% url 'matrix:evaluations' gin.id tonic.id %}" style="text-decoration: none;">
            <div>-</div>
        </a></td>
        {% else %}
        <td class="
                {% if item >= 3.75 %}_40{% endif %}
                {% if item < 3.75 and item >= 3.25 %}_35{% endif %}
                {% if item < 3.25 and item >= 2.75 %}_30{% endif %}
                {% if item < 2.75 and item >= 2.25 %}_25{% endif %}
                {% if item < 2.25 and item >= 1.75 %}_20{% endif %}
                {% if item < 1.75 and item >= 1.25 %}_15{% endif %}
                {% if item < 1.25 %}_10{% endif %}">
            <a href="{% url 'matrix:evaluations' gin.id tonic.id %}" style="text-decoration: none;">
                <div>{{ item|floatformat:1 }}</div>
            </a>
        </td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>