{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'matrix/style.css' %}">

<!doctype html>

<form action="{% url 'matrix:index' %}" method="post">
    {% csrf_token %}
    <select name="drinker" onchange="this.form.submit()">
        <option value=none>Alle Trinker</option>
        {% for drinker in drinkers %}
        {% if selected_drinker == drinker %}
        <option value="{{ drinker.id }}" selected>
        {% else %}
        <option value="{{ drinker.id }}">
        {% endif %}
        {{ drinker }}
        </option>
        {% endfor %}
    </select>
    <select name="ingredient" onchange="this.form.submit()">
        <option value="all">Alle Ingredients</option>
        {% for ingredient in ingredients %}
        <option value="{{ ingredient.id }}">{{ ingredient }}</option>
        {% endfor %}
    </select>
</form>

<table cellspacing="0" cellpadding="0">
    <tr>
        <th></th>
        {% for item in gins %}
        <th>{{ item }}</th>
        {% endfor %}
    </tr>
    {% for tonic, evaluation in evaluation_rows %}
    <tr>
        <th>{{ tonic }}</th>
        {% for gin, item in evaluation %}
        {% if item is None %}
        <td>-</td>
        {% else %}
        <td class="
                {% if item >= 3.75 %}_40{% endif %}
                {% if item < 3.75 and item >= 3.25 %}_35{% endif %}
                {% if item < 3.25 and item >= 2.75 %}_30{% endif %}
                {% if item < 2.75 and item >= 2.25 %}_25{% endif %}
                {% if item < 2.25 and item >= 1.75 %}_20{% endif %}
                {% if item < 1.75 and item >= 1.25 %}_15{% endif %}
                {% if item < 1.25 and item >= 0.75 %}_10{% endif %}
                {% if item < 0.75 and item >= 0.25 %}_05{% endif %}
                {% if item < 0.25 %}_00{% endif %}">
            <a href="{% url 'matrix:evaluations' gin.id tonic.id %}">{{ item }}</a>
        </td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>